<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <input type="file" name="" id="image">
        <button type="submit">add</button>
    </form>
</body>

</html>
<script>
    let form = document.querySelector('form');
    let img = document.getElementById('image').value;
    let value = img.value;
    console.log(value);
    form.addEventListener('submit', (e) => {

        e.preventDefault();


    })
</script>